

.counterScreen {
    font-size: 100px;
    color: darkolivegreen;
    justify-content: center;
    background-color: mintcream;
}

.counterValueError {
    font-size: 120px;
    color: crimson;
    background-color: peachpuff;
}
