.screenContainer {
    margin: 5px;
    border: 3px solid darkseagreen;
    border-radius: 7px;
    text-align: center;
    background-color: mintcream;

}

.screenCounter {

    font-size: 100px;
    color: darkolivegreen;
}

.inputSettingsValue {
    width: 100px;
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    background-color: aliceblue;
}

.inputContainer {
    font-size: 25px;
    margin: auto;
}

.settingsScreen {
    display: flex;
    flex-direction: column;

}

.error {
    font-size: 120px;
    color: red;
background-color: peachpuff;
}

.errorMaxInput {

    color: crimson;
    background-color: peachpuff;
}

.errorContainer {
    background-color: antiquewhite;
}