.App-Container {
    display: grid;
    grid-template-rows: 5fr 3fr;
    margin: 200px auto;
    width: 350px;
    height: 300px;
    border: 3px solid darkseagreen;
    border-radius: 10px;
    background-color: orange;
}
